.header {
  height: 600px;
  position: relative;
  background: transparent;
  background-image: url(../../../public/images/fondo.jpeg);
  background-size: cover;
  background-position: center;
  letter-spacing: 0.5px;
}

.header_opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: .6;
}

.header_content {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
}


.header_image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fafafa;
  margin: 8px;
}

.header_img {
  display: flex;
  padding-right: 2px;
  width: 260px;
  height: 100%;
  object-fit: cover;
}

.header_description {
  text-align: center;
  height: 120px;
  margin: 10px 30px;
}

.header_parrafo{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fafafa;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}