.acercaDeNosotros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    background-color: #fafafa;
    padding: 100px;
}

.acercaDeNosotros_title {
    font-weight: 700;
    font-size: 34px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    color: #ffa726;
}

.acercaDeNosotros_description {
    margin: 40px 10px;
    font-size: 22px;
    width: 65%;
    text-align: center;
    color: black;
}