.navbar {
  height: 80px;
  background-color: #212121;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_center {
  display: flex;
  justify-content: center;
  padding-left: 70px;
  margin: 8px;
  font-weight: 300;
  font-size: 30px;
  width: 100%;
  color: #ffa726;
  font-family: 'Raleway', sans-serif;
}

.navbar_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 50px;
}

.navbar_logo:hover {
  color: #ffa726;
}

.icons_insta,
  .icons_face,
  .icons_whatsapp {
  padding: 0px 4px;
  color: white;
}

.navbar_center:hover {
  color: #ffa726;
}

.icons_insta:hover {
  color: #ab47bc;
}

.icons_face:hover {
  color: #01579b;
}

.icons_whatsapp:hover {
  color: #4caf50;
}